.flip-card{
  height:60rem;
  -webkit-perspective: 150rem;
     -moz-perspective: 150rem;
          perspective: 150rem;
  width: 100%;

  @include respond(tab-port){
    height: 62rem;
    width: 80%;
    margin: 15rem auto 15rem auto;
  }

  @include respond(phone){
    width:60%;
  }

  &:hover &__side--front,
  &:active &__side--back{
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    @include respond(tab-port){
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }
  }

  &:hover &__side--back,
  &:active &__side--back{
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }

  &__side{
    background-color: rgba($color-white, 0.7);
    height: 100%;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
       -moz-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front{
      @include respond(tab-port){
        height:88rem;
      }
    }

    &--back{
      -webkit-transform: rotateY(180deg);
         -moz-transform: rotateY(180deg);
              transform: rotateY(180deg);

      background-image: url('../src/img/grass-min.jpg');
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
      background-position: bottom;

      @include respond(tab-port){
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
        height: 32rem;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        background-image: url('../src/img/grass-min.jpg');
        background-position: 65% 70%;
        -webkit-background-size:auto auto;
           -moz-background-size:auto;
             -o-background-size:auto;
                background-size:auto;

        position: absolute;
        top:92%;
      }
    }

  }



  &__pic{
    width: 100%;
    height: 25rem;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @include respond(tab-port){
      height:32rem;
    }
  }

  &__details{
    width: 90%;
    display: block;
    margin: auto;

    &--ul{
      list-style: none;

      &--custom-margin{
        margin-top:15rem;
        @include respond(tab-port){
          margin-top:5rem;
        }
      }
    }

    &--li{
      font-size: 1.7rem;
      font-weight: 300;
      margin:2rem 0;

      &--2{
        color:$color-white;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-shadow: 0 0 3px $color-black;
      }

    }
  }

}
