.form{

  & #type{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
  }

  &__arrow__container{
    position: relative;
  }

  &__arrow__container--arrow{
    position: absolute;
    top: 70%;
    right: 0;
  }

  & > textarea:focus,
  & > input:focus{
      outline: none;
  }

  & > label{
    font-size: 1.8rem;
    font-weight: 300;
  }

  & > input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border:none;
    border-bottom:2px solid $color-gold-text;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding:1rem;
    margin-top: 0.5rem;
  }

  & > textarea{
    resize:none;
    width: 100%;
    border:none;
    border-bottom:2px solid $color-gold-text;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    margin-top: 0.5rem;
  }

  & > a{
    width:15rem;
    -webkit-background-size:230% 230%;
       -moz-background-size:230%;
         -o-background-size:230%;
            background-size:230%;
  }

}

// validation of form input- display
.form-invalid{
  border-bottom: 2px solid $color-primary-red-light !important;
}

.form-valid{
  border-bottom: 2px solid $color-primary-green-light !important;
}

.react-datepicker-wrapper > .form-invalid{
  border: 2px solid $color-primary-red-light !important;
}

.react-datepicker-wrapper > .form-valid{
  border: 2px solid $color-primary-green-light !important;
}

.react-datepicker__input-container > .form-invalid {
  border: 2px solid $color-primary-red-light !important;
}

.react-datepicker__input-container > .form-valid {
  border: 2px solid $color-primary-green-light !important;
}


.form-validation{
  font-size: 1.5rem;
  color: $color-primary-red-light;

  &--big{
    font-size: 3rem;
    font-weight: 400;
  }
}

//////////////////////modal css
.form-success{
  height:100%;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-blackish, 0.8);
  z-index: 9999;
  display: none; //modal disactivate

  &--display{
    display: block; // modal activation on form submit
  }
//
  &__message{
    background-color: $color-white;
    height:40rem;
    width:80rem;
    position: fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate3d(-50%,-50%,0) scale(0);
       -moz-transform: translate3d(-50%,-50%,0) scale(0);
            transform: translate3d(-50%,-50%,0) scale(0); // modal message disactivated
    z-index: 10000;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: scale 1s;
    -o-transition: scale 1s;
    -moz-transition: scale 1s;
    transition: scale 1s;

    @include respond(tab-port){
      height:35rem;
      width:70rem;
    }

    @include respond(phone){
      height:50rem;
      width:90%;
    }

    &--display{
      -webkit-transform: translate3d(-50%,-50%,0) scale(1);
         -moz-transform: translate3d(-50%,-50%,0) scale(1);
              transform: translate3d(-50%,-50%,0) scale(1); // modal message activation on form submit
      transition: all 0.8s;
    }

    &__success{
      height: 100%;
      overflow: hidden;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;

      &--field-reserve{
        width: 50%;
        height: 100%;
        background-image: url('../src/img/grass-min.jpg');
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        float: right;
        margin: auto;

        & .btn--red{
          position: static !important;
          width: 50%;
          -webkit-transform: translate3d(0,50%,0) !important;
             -moz-transform: translate3d(0,50%,0) !important;
                  transform: translate3d(0,50%,0) !important;

          @include respond(phone){
            width: 80%;
          }
        }

        & .heading3{
          font-weight: 500;
          margin-top: 2rem;
        }
      }

      &--hotel-reserve{
        width: 50%;
        height: 100%;
        background-image: url('../src/img/manonbed.jpg');
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        float: left;

        & .btn--red{
          background-color: $color-gold-text;
          border-color: $color-gold-text;
          position: static !important;
          width: 50%;
          -webkit-transform: translate3d(0,165%,0) !important;
             -moz-transform: translate3d(0,165%,0) !important;
                  transform: translate3d(0,165%,0) !important;

          @include respond(phone){
            width: 80%;
          }

          &:hover,
          &:active{
            color:$color-gold-text;
            background-color: $color-white;
            border:solid 2px $color-gold-text;
          }
        }

        & .heading3{
          font-weight: 500;
          color: $color-white;
          margin-top: 2rem;
        }
      }

      & .btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        -webkit-transform: translate3d(-50%,0,0);
           -moz-transform: translate3d(-50%,0,0);
                transform: translate3d(-50%,0,0);
      }

      &--icon{
        color: $color-primary-green-light;
        width: auto;
        font-size: 10rem;
        position: absolute;
        top:5%;
        left:50%;
        -webkit-transform: translate3d(-50%,0,0);
           -moz-transform: translate3d(-50%,0,0);
                transform: translate3d(-50%,0,0);
      }

      &--text{
        color: $color-primary-green-light;
        font-size: 3rem;
        text-align: center;
        position: absolute;
        bottom:30%;
        @include respond(phone){
          bottom: 25%;
        }
      }
    }

    &__cancel{
      width: auto;
      position: absolute;
      top:2%;
      right:2%;
      cursor: pointer;

      &--icon{
        color: $color-primary-red-light;
        font-size: 5rem;
      }
    }
  }
}


//////////////////////// field reservation form
#fields input,
#fields select,
#fields .react-datepicker__input-container{
  width: 100%;
}

#fields{
  @include respond(phone){
    width: 85%;
    margin: auto;
  }
}


//////////////////////// form asuurance

.form__assurance{
  width: 100%;
  // border: 2px solid $color-gold-text;
  // border-radius: 3px;


  &--p{
    font-size: 3rem;
    font-weight: 300;
    padding:1rem;
  }
}
