.image-display{
  position: relative;
  min-height: 50rem;
  margin-top: 5rem;

  &__item{
    width: 50rem;
    height: 35rem;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    -moz-transition: transform .3s, -moz-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
    z-index: 1;
    position: absolute;
    overflow: none;

    @include respond(tab-port){
      position: static;
      display: block;
      margin:5rem auto;
      width: 60rem;
      height:40rem;
    }

    @include respond(phone){
      width: 40rem;
      height:30rem;
    }

    &:hover,
    &:active{
      -webkit-transform: scale(1.2);
         -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
           -o-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      -o-transition: -o-transform .3s;
      -moz-transition: transform .3s, -moz-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
      z-index: 2;
      @include respond(phone){
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
      }
    }

    &--1{
      top:0;
      left:10%;
    }

    &--2{
      top:20%;
      left:25%;
    }

    &--3{
      top:40%;
      left:40%;
    }
  }

}
