.main-display-component{

  @include respond(tab-port){
    margin-top: 15rem;
  }

  &__div{
    text-align: center;

    &--p{
      font-size: 2rem;
      font-weight: 300;

      &:last-of-type{
        margin-bottom: 5rem;
      }
    }

    &--h1{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 8rem;
      font-weight: 300;
      opacity:0;
      -webkit-transform: translate3d(0,20px,0);
         -moz-transform: translate3d(0,20px,0);
          -ms-transform: translate3d(0,20px,0);
           -o-transform: translate3d(0,20px,0);
              transform: translate3d(0,20px,0);
      -webkit-transition: all .9s;
      -o-transition: all .9s;
      -moz-transition: all .9s;
      transition: all .9s;

      &--activated{
        opacity:1;
        -webkit-transform: translate3d(0,0px,0);
           -moz-transform: translate3d(0,0px,0);
            -ms-transform: translate3d(0,0px,0);
             -o-transform: translate3d(0,0px,0);
                transform: translate3d(0,0px,0);
        -webkit-transition: all .9s;
        -o-transition: all .9s;
        -moz-transition: all .9s;
        transition: all .9s;
      }
    }
  }

  &__img{
    height:70vh;
    width:100vw;
    background-color: $color-grey-bg-test;
    position: relative;
    -webkit-transition: transform 2s;
    -o-transition: transform 2s;
    -moz-transition: transform 2s;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    -o-transition: -o-transform 2s;
    -moz-transition: transform 2s, -moz-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s, -moz-transform 2s, -o-transform 2s;
    position: relative;

    @include respond(big-tablet){
      height:40vh;
      margin-bottom: 10rem;
    }

    @include respond(phone){
      height:40vh;
    }

    &--activated &--curtain{
      -webkit-transition: transform 2s;
      -o-transition: transform 2s;
      -moz-transition: transform 2s;
      -webkit-transition: -webkit-transform 2s;
      transition: -webkit-transform 2s;
      -o-transition: -o-transform 2s;
      -moz-transition: transform 2s, -moz-transform 2s;
      transition: transform 2s;
      transition: transform 2s, -webkit-transform 2s, -moz-transform 2s, -o-transform 2s;
      //removes curtain to reveal picture
      transform: scale3d(0,1,1);
    }

    &--curtain{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 500;
      background: $color-grey-bg-test;
      -webkit-transition: all 2s;
      -o-transition: all 2s;
      -moz-transition: all 2s;
      transition: all 2s;
      -webkit-transform-origin: right;
         -moz-transform-origin: right;
          -ms-transform-origin: right;
           -o-transform-origin: right;
              transform-origin: right;
    }


    &--img{
      width:100%;
      height:100%;
      position: absolute;
      top:0;
      left:0;
      background-position: 50% 55%;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
  }
}
