.room{
  height: 100rem;
  border:2px solid $color-gold-text;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  position: relative;

  @include respond(tab-port){
    height: 115rem;
  }

  @include respond(phone){
    height: 95rem;
    width: 90%;
    margin: auto;
  }

  &__info-container{

    &__list{
      min-height:25vh;
    }

    &__icon{
      width: 96%;
      margin:1rem auto;

      &--icon{
        width: 5rem;
        font-size: 3rem;
        color:$color-blackish;
      }

      &--price{
        position: absolute;
        bottom:4%;
        right:5%;
        @include respond(phone){
          bottom:3%;
        }
      }

      &--button{
        position: absolute;
        bottom: 5%;
        left: 5%;
        @include respond(phone){
          bottom:4%;
        }
      }
    }
  }

  &__image-container{
    height: 23vw;
    width: 96%;
    overflow: hidden;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin: auto;

    &:hover{
      cursor: pointer;
    }

    @include respond(tab-port){
      height: 45vw;
    }

    @include respond(phone){
      height: 50vw;
    }

    &__picture{
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    &__gallery{
      display: block;
      -webkit-transform: translate3d(-50%, -50%, 0);
         -moz-transform: translate3d(-50%, -50%, 0);
              transform: translate3d(-50%, -50%, 0);
      width: 80%;
      height: 70%;
      position: fixed;
      top:50%;
      left:50%;
      z-index: 99999;

      @include respond(phone){
        height: 30%;
      }
    }
  }

  .fa-user{
    display: inline-block;
    width: inherit;
    margin-top: 1rem;
  }
}
