.shaped-card{
  width: 90%;
  min-height:70rem;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.6);
  border-radius: 3px;
  background-size: cover;
  background-position: bottom;

  @include respond(tab-port){
    min-height:75rem;
  }

  &--1{
    background-image:
     linear-gradient(
     100deg,
      rgba(255,255,255,0.9) 0%,
      rgba(255,255,255,0.9) 50%,
      transparent 50%),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');

    @include respond(tab-port){
      background-image:
       linear-gradient(
        rgba(255,255,255,0.8) 0%),
        url('../src/img/welcome-pictures/parking-big-welcome.jpg');
    }
  }

  &--2{
    background-image:
     linear-gradient(
     100deg,
      rgba(255,255,255,0.9) 0%,
      rgba(255,255,255,0.9) 50%,
      transparent 50%),
      url('../src/img/events-form.jpg');
      background-position: left;

    @include respond(tab-port){
      background-image:
       linear-gradient(
        rgba(255,255,255,0.8) 0%),
        url('../src/img/events-form.jpg');
    }
  }


  &__text{
    width:40%;
    margin-left: 4rem;
    opacity: 1;
    padding-top: 5rem;

    @include respond(tab-port){
      width:80%;
      display: block;
      margin: auto;
    }
  }

  &__shape{
    width:35%;
    height: 100%;
  }

}
