.welcome{
  overflow: hidden;
  height: 70vh;
  margin: auto -10rem;

  @include respond(big-tablet){
    height:80vh;
  }

  @include respond(phone){
    height:80vh;
  }

  &__img{
    width: 100%;
    height:100%;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-attachment: fixed;

    @include respond(phone){
      background-attachment: scroll;
    }

    &--home{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/pool-big-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/pool-big-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/pool-big-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/pool-big-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/pool-big-welcome.jpg');
    }

    &--sports{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/football-big-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/football-big-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/football-big-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/football-big-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/football-big-welcome.jpg');

      @include respond(tab-port){
        background-position: 55%;
      }

      @include respond(phone){
        background-position: 60%;
      }
    }

    &--parking{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/parking-big-welcome.jpg');
    }

    &--about{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/front-hotel-big-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/front-hotel-big-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/front-hotel-big-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/front-hotel-big-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/front-hotel-big-welcome.jpg');
      -webkit-filter: grayscale(.9);
              filter: grayscale(.9);

      @include respond(tab-port){
        background-position: 35%;
      }

      @include respond(phone){
        background-position:40%;
      }
    }

    &--contact{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/contact-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/contact-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/contact-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/contact-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/contact-welcome.jpg');
      background-position: center;

      @include respond(tab-port){
        background-position: 82%;
      }

      @include respond(phone){
        background-position: 80%;
      }
    }

    &--events{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/events-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/events-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/events-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/events-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/events-welcome.jpg');
      background-position: center 40%;

    }

    &--bar{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/bar-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/bar-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/bar-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/bar-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/bar-welcome.jpg');
      background-position: 50% 60%;

      @include respond(tab-port){
        background-position: 55%;
      }

      @include respond(phone){
        background-position: 40%;
      }
    }

    &--hotel{
      background-image:  -webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba($color-blackish, 0.7)),
        to(rgba($color-blackish, 0))
      ),
      url('../src/img/welcome-pictures/hotel-welcome.jpg');
      background-image:  -webkit-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/hotel-welcome.jpg');
      background-image:  -moz- oldlinear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/hotel-welcome.jpg');
      background-image:  -o-linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/hotel-welcome.jpg');
      background-image:  linear-gradient(
        rgba($color-blackish, 0.7),
        rgba($color-blackish, 0)
      ),
      url('../src/img/welcome-pictures/hotel-welcome.jpg');
      background-position: 50% 70%;

      @include respond(tab-port){
        background-position: 40%;
      }
    }

  }
}
