*,
*::after,
*::before {
  padding:0;
  margin:0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html{
  font-size: 62.5%;

  @include respond(tab-land){
    font-size: 56.25%;
  }

  @include respond(tab-port){
    font-size: 50%;
  }

}

body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: $color-grey-bg-test;
  overflow-x:hidden;
  cursor: default;
  padding:0 10rem;

  @include respond(phone){
      padding:0;
  }
}
