//COLORS
$color-grey-bg: #f4f4f4;
$color-grey-placeholder:#C0C0C0;

$color-white:#fff;
$color-black:#000;
$color-grey-bg-test:#F2F2F2;
$color-grey-bg-dark:#2F4F4F;
$color-blackish:#2c2c2c;
$color-whiteish-bg:#fdfdfd;

$color-primary-green-light:#9BC53D;
$color-primary-green-dark:#85AA34;

$color-primary-red-dark:#f53229;
$color-primary-red-light:#E55934;

$color-fancy-red:#f53229;

//text
$color-grey-text:#6B878C;
$color-gold-text: #D9A816;
$color-gold-text-light:#EBCB0D;

//6C698D-purple-839D9A-lightblue

//grid
$grid-max-width:1140px;
$grid-max-width-big:1440px;
$grid-vertical-margin:8rem;
$col-side-margin:4rem;
