.footer{
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  min-height: 50vh;
  width:100vw;
  background-color: rgba($color-blackish, 0.6);
  padding:3rem;
  position: relative;

  @include respond(big-tablet){
    min-height: 50vh;
  }

  @include respond(tab-port){
    padding-right:10rem;
  }

  @include respond(phone){
    padding-right: 5rem;
  }

  &__follow{
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  &__icon{
    display:inline-block;
    text-align: center;
    color:$color-white;
    font-size: 6rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;

    &:hover{
      -webkit-transform: scale(1.2);
         -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
           -o-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
    }
  }

  &__img{
    width: 100%;

    @include respond(tab-port){
      width:50%;
      -webkit-transform: translate3d(50%,0,0);
         -moz-transform: translate3d(50%,0,0);
              transform: translate3d(50%,0,0);
    }

    @include respond(phone){
      width:100%;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }

  }

  &__ul{
    list-style: none;
    padding-top: .5rem;
    text-align: center;

    &:last-child{
      margin-bottom: 4rem;
    }

    &__link{
      text-decoration: none;
      color: $color-white;
      font-size: 1.5rem;
      margin: 1rem;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
      @include respond(tab-port){
        font-size: 2rem;
      }

      &:hover{
        color:$color-gold-text;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
      }
    }
  }

  &__scroll{
    position: absolute;
    display: block;
    z-index: 500;
    bottom:20%;
    right:100%;

    &--text{
      color:$color-black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.3rem;
      font-weight: 300;
      -webkit-transform: rotate(-90deg);
         -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
           -o-transform: rotate(-90deg);
              transform: rotate(-90deg);
      display: block;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-bottom: 8rem;
      width:10rem;
    }

    &--arrow{
      display: block;
      margin:auto;
      cursor: pointer;
      width: 5rem;
      height: 5rem;
      -webkit-border-radius: 5rem;
         -moz-border-radius: 5rem;
              border-radius: 5rem;
      background-color: rgba($color-blackish, 0.6);
      position: relative;

      &::after{
        content: '';
        position: absolute;
        top:50%;
        left: 50%;
        -webkit-border-radius: .6rem;
           -moz-border-radius: .6rem;
                border-radius: .6rem;
        border:solid $color-white;
        border-width: 0 .8rem .8rem 0;
        -webkit-transform: translate(-50%,-35%) rotate(-135deg) ;
           -moz-transform: translate(-50%,-35%) rotate(-135deg) ;
            -ms-transform: translate(-50%,-35%) rotate(-135deg) ;
             -o-transform: translate(-50%,-35%) rotate(-135deg) ;
                transform: translate(-50%,-35%) rotate(-135deg) ;
        padding:1rem;

      }
    }
  }
}
