//home section

.description{

  &__feature{
     text-align: center;
     -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
         -ms-transform: translateY(50px);
          -o-transform: translateY(50px);
             transform: translateY(50px);
     -webkit-transition: all 1s;
     -o-transition: all 1s;
     -moz-transition: all 1s;
     transition: all 1s;
     opacity: 0;
     width: -webkit-calc((100% - #{$col-side-margin}) / 2);
     width: -moz-calc((100% - #{$col-side-margin}) / 2);
     width: calc((100% - #{$col-side-margin}) / 2);
     display: inline-block;

     &:first-of-type{
       margin-right:2rem;
     }

     @include respond(tab-port){
       width: -webkit-calc((100% - #{$col-side-margin}) / 2);
       width: -moz-calc((100% - #{$col-side-margin}) / 2);
       width: calc((100% - #{$col-side-margin}) / 2);
       display: inline-block;
       margin-top: 5rem;
     }

     @include respond(phone){
       display: block;
       width: 70%;
       margin:5rem auto;

       &:first-of-type{
         margin-right:inherit;
       }
     }

    &--active{
      -webkit-transform:translateY(0px);
         -moz-transform:translateY(0px);
          -ms-transform:translateY(0px);
           -o-transform:translateY(0px);
              transform:translateY(0px);
      opacity: 1;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      -moz-transition: all 1s;
      transition: all 1s;
      -webkit-transition-timing-function:cubic-bezier(0.175, 0.585, 0.32, 1.475);
         -moz-transition-timing-function:cubic-bezier(0.175, 0.585, 0.32, 1.475);
           -o-transition-timing-function:cubic-bezier(0.175, 0.585, 0.32, 1.475);
              transition-timing-function:cubic-bezier(0.175, 0.585, 0.32, 1.475);

      &--delay{
        -webkit-transition-delay: .2s;
           -moz-transition-delay: .2s;
             -o-transition-delay: .2s;
                transition-delay: .2s;
      }
    }

    &--icon{
      display: block;
      font-size: 5rem;
      color:$color-gold-text;
      margin-bottom: 2rem;
    }
  }
}

//soccer icon animation handeling
.sports {

  &__soccer{
    display: block;
    z-index: 1;
    position: relative;
    width: 7%;
    float: right;
    @include clearfix;

    @include respond(tab-port){
      width: -webkit-calc(5% + 5rem);
      width: -moz-calc(5% + 5rem);
      width: calc(5% + 5rem);
    }
    @include respond(phone){
      width: -webkit-calc(2% + 5rem);
      width: -moz-calc(2% + 5rem);
      width: calc(2% + 5rem);
    }
  }

  &__bascket{
    display: block;
    z-index: 1;
    position: relative;
    width: 10%;
    -webkit-filter: drop-shadow(2px 45px 5px rgba(44, 44, 44, 0.25));
            filter: drop-shadow(2px 45px 5px rgba(44, 44, 44, 0.25));
    margin-top: -150px;
    -webkit-transform: translateY(150px);
       -moz-transform: translateY(150px);
        -ms-transform: translateY(150px);
         -o-transform: translateY(150px);
            transform: translateY(150px);

    @include respond(tab-port){
      width: -webkit-calc(8% + 5rem);
      width: -moz-calc(8% + 5rem);
      width: calc(8% + 5rem);
    }

    @include respond(phone){
      width: -webkit-calc(7% + 5rem);
      width: -moz-calc(7% + 5rem);
      width: calc(7% + 5rem);
    }

    -webkit-animation-name: bascketball;

       -moz-animation-name: bascketball;

         -o-animation-name: bascketball;

            animation-name: bascketball;
    -webkit-animation-duration: 4s;
       -moz-animation-duration: 4s;
         -o-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  &__volley{
    display: block;
    z-index: 1;
    position: relative;
    width: 10%;

    @include respond(tab-port){
      width: -webkit-calc(8% + 5rem);
      width: -moz-calc(8% + 5rem);
      width: calc(8% + 5rem);
    }

    @include respond(phone){
      width: -webkit-calc(6% + 5rem);
      width: -moz-calc(6% + 5rem);
      width: calc(6% + 5rem);
    }
  }
}

// SPORTS DESCRIPTION section

.sports-description{

  &__button--1{
    display: block;

    @include respond(tab-port){
      display: none !important;
    }
  }

  &__button--2{
    display: none !important;

    @include respond(tab-port){
      display: block !important;
    }
  }

  &__picture{

    &--1{
      width: 100%;
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;
      margin-bottom: 3rem;

      @include respond(tab-port){
        width:70%;
        margin: auto;
        display: block;
      }

      @include respond(tab-port){
        width:90%;
      }
    }

    &--2{
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      width: 80%;

      @include respond(tab-port){
        width:70%;
        margin: auto;
        display: block;
        margin-top: 5rem;
      }

      @include respond(tab-port){
        width:90%;
      }
    }
  }
}

//
.bar-description{
  position: relative;

  &__logo{
    width:70%;
    position: absolute;
    left:50%;
    z-index: -1;
    opacity: 0.15;
    -webkit-transform: rotate(20deg) translate3d(-50%,10%,0);
       -moz-transform: rotate(20deg) translate3d(-50%,10%,0);
        -ms-transform: rotate(20deg) translate3d(-50%,10%,0);
         -o-transform: rotate(20deg) translate3d(-50%,10%,0);
            transform: rotate(20deg) translate3d(-50%,10%,0);

    @include respond(tab-port){
      width:200%;
      top:10%;
      left:-40%;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }
  }
}
