.loader{
  position: fixed;
  top:0;
  left:0;
  display: block;
  z-index: 50000;
  width: 100%;
  height: 100%;
  background-image: rgb(0,0,0);
  background-image: radial-gradient(closest-corner, transparent -80%, $color-black 90%),url('../src/img/pool-big.jpg');
  background-size: cover;

  @include respond(phone){
    background-position: 50% 50%;
  }


  &__image{
    background-image: url('../src/img/logo.png');
    background-size: cover;
    position: fixed;
    top:40%;
    left:50%;
    transform: translate3d(-50%,-50%,0);
    height: 20rem;
    width:50rem;
    z-index: 50001;

    &--load{
      font-size: 6rem;
      color:$color-white;
      position: fixed;
      top:100%;
      left:50%;
      animation-name: loader;
      animation-duration: 2s;
      animation-iteration-count: infinite;

    }
  }
}
